@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable all animations and transitions to prevent strobing */
.no-animations * {
  animation-duration: 0s !important;
  animation-delay: 0s !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}
